<% include partials/header %>
	<form method="POST" action="/modificarEvento" enctype="multipart/form-data">
    	<div class="col-sm-6 col-md-offset-3">
            <h4>Agregar nuevo evento:</h4>
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">
 
                	<div class="form-group">
                        <label for="Nombre" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Nombre" name="Nombre" value="<%= info[0].Nombre %>" required>
                        </div>
                    </div> 
 
                    <div class="form-group">
                        <label for="Descripcion" class="col-sm-3 control-label">Descripción</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Descripcion" name="Descripcion" value="<%= info[0].Descripcion %>">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="NombreBD" class="col-sm-3 control-label">NombreBD</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="NombreBD" name="NombreBD" value="<%= info[0].NombreBD %>">
                        </div>
                    </div>
 
                    <div class="form-group">
                        <label for="IDCategoria" class="col-sm-3 control-label">Categoría</label>
                        <div class="col-sm-9">
                            <select class="form-control" name='IDCategoria' id='IDCategoria'>
                            <% categorias.forEach(function(categoria) { %> 
                                <option value='<%= categoria.ID %>'><%= categoria.Nombre %></option>
                            <% }); %>
                        </select>
                        </div>
                        
                    </div>

                    <div class="form-group">
                        <label for="Imagen" class="col-sm-3 control-label">Imagen</label>
                        <div class="col-sm-9">
                            <input type="file" class="form-control" id="Imagen" name="Imagen">
                            <img src='uploads/<%= info[0].Imagen %>'></img>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="FechaInicio" class="col-sm-3 control-label">Fecha de Inicio</label>
                        <div class="col-sm-9">
                            <input type="datetime-local" class="form-control" id="FechaInicio" name="FechaInicio" value="<%= info[0].FechaInicio %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="FechaInicio" class="col-sm-3 control-label">Color</label>
                        <div class="col-sm-9">
                            <input type="color" class="form-control" id="Color" name="Color" value="<%= info[0].Color %>">
                        </div>
                    </div>
                    <!--campo oculto para decirle a express que es una petición put-->
                    <input type="hidden" name="_method" value="POST">
                    <!--campo oculto con el id del evento-->
                    <input type="hidden" name="ID" value="<%= info[0].ID %>">
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary preview-edit-button">
                                <span class="glyphicon glyphicon-edit"></span> Actualizar
                            </button>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </form>
<% include partials/footer %>